<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="./movements.html">

<dom-module id="dashboard-module">
  <link rel="import" type="css" href="../css/dashboard_style.css">
  <template>
    <div class="dashboard_title_container">
      <div class="dashboard_tile">
        <h2>Posición Global</h2>
      </div>
      <div class="dashboard_balance">
        <h3>Saldo a favor:</h3> <label class="balance h3">[[formatBalance(totalBalance)]]</label>
      </div>
      
    </div>
    <div class = "product_dashboard">
      <template is="dom-repeat" items="{{accounts}}">
        <div class="product_dashboard_item">
          <p>{{item.alias}}</p>
          <p>{{item.type}}</p>
          <a class="balance"  data-toggle="tooltip" title="Ver movimientos" on-click="showMovements" name="{{item.number}}" href="#">[[formatBalance(item.balance)]]</a>
        </div>
      </template>
    </div>
  </template>
  <script>
    class DashboardModule extends Polymer.Element {
      constructor() {
        super();
        console.log('Entré al constructor del dashboard joe');
      }
      static get is() { return 'dashboard-module'; }
      static get properties() {
        return {
          accounts: {
            type: Array,
            notify: true
          },
          customerId: {
            type: String,
            value: ''
          },
          totalBalance: {
            type: Number,
            computed: 'calculateTotalBalance(accounts)' 
          }
        };
      }
      /**
       * Función auxiliar para el cálculo del saldo total de las cuentas del usuario. 
       */
      calculateTotalBalance(accounts) {
        console.log('entre al getTotalBalance');
        let total = 0;
        console.log(accounts);
        for (let i = 0; i < accounts.length; i++) {
          total += accounts[i].balance;
        }
        return total;
      }
      /**
       * Formatea una cantidad monetaria tomando en cuenta la moneda. 
       */
      formatBalance(balance) {
          return (Number(balance)).toLocaleString('es-MX', { style: 'currency', currency: 'MXN' });
      }
      /**
       * Crea el componente polymer encargado de mostrar los movimientos de la cuenta seleccionada
       * por el usuario.
       */
      showMovements(e) {
        console.log('Cuenta: ' + e.target.name);
        let container = document.getElementById("mainAppDiv");
        //Eliminamos el contenido del div principal
        while(container.firstChild) {
          container.removeChild(container.firstChild);
        }
        //Creamos el componente para el despliegue
        let movements = document.createElement("movements-module");
        movements.customerId = this.customerId;
        movements.accountNumber = e.target.name;
        movements.totalBalance = this.totalBalance;
        container.appendChild(movements);
      }
      /**
       * Ejecuta el llamado al api para traer los movimientos (primeros 25) de la cuenta seleccionada
       * por el usuario, y pasar el arreglo resultante al componente polymer encargado de mostrarlos.
       */
      findMovements(movementsElement, customerId, accountNumber) {
        let request = new XMLHttpRequest();
        let url = API_URL + '/accounts?client='+customerId;
        request.open("GET", url, false);
        request.send();
        let response = JSON.parse(request.responseText);
        console.log(response);
        if (request.status === 200) {
          dashboard.accounts = response.data;
        }       
      }
    }
    window.customElements.define(DashboardModule.is, DashboardModule);
  </script>
</dom-module>
