<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="movements-module">
    <template>
        <div class="movements">
            <table class="table table-striped">
                <thead>
                    <th>Fecha</th>
                    <th>Monto</th>
                    <th>Tipo</th>
                </thead>
                <tbody>
                    <template is="dom-repeat" items="{{movements}}">
                    <tr>
                        <td>{{item.date}}</td>
                        <td>{{item.amount}}</td>
                        <td>{{item.type}}</td>
                    </tr>
                    </template>
                </tbody>
            </table>
        </div>
    </template>
    <script>
        class MovementsModule extends Polymer.Element  {
            static get is() { return 'movements-module'; }
            static get properties() {
                return {
                    movements: {
                        type: Array,
                        notify: true
                    },
                    accountNumber: {
                        type: String,
                        value: ''
                    },
                    customerId: {
                        type: String,
                        value: ''
                    },
                    totalBalance: {
                        type: Number,
                        value: 0 
                    }
                };
            }

        }
        window.customElements.define(MovementsModule.is, MovementsModule);
    </script>
    
</dom-module>