<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../gestor-cuentas/dashboard.html">


<dom-module id="gestor-login-app">
  <link rel="import" type="css" href="../css/login_style.css">
  <template>
    <div class="login-div">
      <h2>Inicio de sesión</h2>
      <form method="post"id="registrationForm" action="/login">
        <div class='form-group'>
          <label for="email-address">Correo electrónico:</label>
          <input class="form-control" id="idInputEmail"
          placeholder="Correo electrónico" type="email"name="email"
          on-input="formInputListener" title="Correo válido" required="required" value="{{email::input}}" />
        </div>
        <div class="form-group">
          <label for="password" class="login-label">Contraseña:</label>
          <input class="form-control" id="idInputPassword" type="password" on-input="formInputListener" name="password" required="required"
               pattern="[a-zA-Z0-9]{5,}" title="Al menos 5 letras y/o números"
               placeholder="Password" value="{{password::input}}"/>
        </div>
        <button class="btn btn-default" id="idRegistrationButton" type="button" disabled="true" on-click="executeLogin">Iniciar sesión</button>
      </form>
    </div>
  </template>

  <script>
    const API_URL = 'http://localhost:4000';
    /**
     * @customElement
     * @polymer
     */
    class GestorLoginApp extends Polymer.Element {
      constructor() {
        super();
        console.log('Entrè al constructor');
      }
      static get is() { return 'gestor-login-app'; }
      static get properties() {
        return {
          email: {
            type: String,
            value: ''
          },
          password: {
            type: String,
            value: ''
          }
        };
      }
      /**
       * Handler para el login del usuario 
       */
      executeLogin() {
        var form = this.$.registrationForm;
        if (form.checkValidity()) {
          let request = new XMLHttpRequest();
          let login_result = this.callLoginApi(request);
          if (request.status === 200) {
            this.createDashboard(login_result);
          } else {
            alert(login_result.msg);
          }
        } else {
          alert('Datos incorrectos');
        }
      }
      /**
       * Crea el dashboard del cliente.
       */ 
      createDashboard(login_result) {
        let container = document.getElementById("mainAppDiv");
        //Eliminamos los elementos que pueda tener el div principal
        while(container.firstChild) {
          container.removeChild(container.firstChild);
        }
        //Creamos el dashboard y seteamos entre sus propiedades, el id del cliente sesionado
        let dashboard = document.createElement("dashboard-module");
        dashboard.customerId = login_result.id;

        container.appendChild(dashboard);
        document.getElementById('idHeaderNameLabel').innerHTML = login_result.name + ' ' + login_result.lastName;
        document.getElementById('idButtonHeaderLogout').hidden = false;  

        this.obtainAccountsForDashboard(dashboard, login_result.id);
      }
      /**
       * Ejecuta el llamado al api de cuentas para traer el listado de cuentas del cliente
       */ 
      obtainAccountsForDashboard(dashboard, customerId) {
        let request = new XMLHttpRequest();
        let url = API_URL + '/accounts?client='+customerId;
        request.open("GET", url, false);
        request.send();
        let response = JSON.parse(request.responseText);
        console.log(response);
        if (request.status === 200) {
          dashboard.accounts = response.data;
        }         
      }
     /**
      * Método para activar el botón de submit al ser la entrada válida.
      */
      formInputListener() {
          if (this.$.registrationForm.checkValidity()) {
            this.$.idRegistrationButton.disabled = false;
          } else {
            this.$.idRegistrationButton.disabled = true;
          }
      }
      /**
       * Ejecuta el llamado al endpoint del login
       */
      callLoginApi(request) {
          var url = API_URL + '/login';
          request.open("POST", url, false);
          request.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
          var json_login = {email: this.$.idInputEmail.value, password: this.$.idInputPassword.value};
          console.log(json_login);
          request.send(JSON.stringify(json_login));
          let login_result = JSON.parse(request.responseText);
          console.log(login_result);
          return login_result;
      }
    }

    window.customElements.define(GestorLoginApp.is, GestorLoginApp);
  </script>

</dom-module>
