<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="mi_visor-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <h2>[[msg]]</h2>
      <h4>Input value: {{prop1}}</h4>
      <h4>Counter: {{prop2}}</h4>
      <img src="[[img]]" width="250px" height="250px" alt="..." >
      <div class="row">
        <button on-click="incrementar" class="col-lg-4 col-xs-12">Cargar Datos</button>
        <input type="text" placeholder="[[prop3]]" value="{{prop1::input}}" />
        <table class="table table-striped" col-lg-12 col-xs-12>
          <thead>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>{{prop1}}</td>
              <td>Bueno</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Dulcinea</td>
              <td>Del Toboso</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class Mi_VisorApp extends Polymer.Element {
      static get is() { return 'mi_visor-app'; }
      static get properties() {
        return {
          msg: {
            type: String,
            value: 'Este es mi visor personalizado'
          },
          img: {
            type: String,
            value: 'https://www.flaticon.com/premium-icon/icons/svg/1029/1029927.svg'
          },
          prop1: {
            type: 'String',
            value: ''
          },
          prop2: {
            type: Number,
            value: 0
          },
          prop3: {
            type: String,
            value: 'Indique su usuario'
          }
        };
      }
      incrementar() {
        this.prop2 += 1;
        console.log(this.prop2);
        console.log(this.prop1);
      }
    }

    window.customElements.define(Mi_VisorApp.is, Mi_VisorApp);
  </script>
</dom-module>
