.product_dashboard {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}

.product_dashboard_item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 20px;
    border-radius: 25px;
    border-style: dotted;
    margin: 10px;
  }

.product_dashboard_item:hover {
    background-color: #F5F5F5;
}

.balance {
    color: #205081;  
}

.dashboard_title_container {
    display: flex;
}

.dashboard_tile {
    flex: 3;
}
.dashboard_balance {
    flex: 1;
}


