.login-div {
  background-color: #fffffc;
  padding: 30px;
  border: 1px solid #ccc;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
}

input[type=email], input[type=password] {
    width: 100%;
    padding: 8px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
button {
  width: 100%;
  padding: 8px 20px;
  margin: 8px 0px;
}
