.app_header {
  background-color: #205081;
  color: #fffffc;
  display:flex;
}

.app_footer {
  background-color: #F5F5F5;
  color: #4A6785;
  padding: 5px;
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: center;
}

.app_header_title {
  flex: 3;
  margin:auto;
  padding-left: 30px;
}

.app_header_logout {
  flex: 1;
  margin: auto;
}
.app_header_button {
  margin-left: 20px;
  color:#205081
}
